**/node_modules
**/bower_components
**/lib
**/vendor
**/*.min.js
**/client/dist/bundle.js
**/client/src/components/questionsAnswers/dummyQuestions.js
**/client/src/components/ratingsReviews/dummyDataReviews.jsx
**/client/src/components/ratingsReviews/metaDummy.jsx
