node_modules
package-lock.json
yarn.lock
client/src/config.js
server/controllers/config.js
*.excalidraw
.DS_Store
coverage
FEC-Key.pem
functions/controllers/config.js
client/dist
functions/firebase-debug.log