/* #helpful:hover,
#report:hover,
#addReview:hover,
#moreReviews:hover,
#starBreakdown:hover,
#submitReview:hover {
  cursor: pointer;
}

::-webkit-scrollbar { display: none }


.starBar:hover {
  box-shadow: 0px 0px 8px gold;
  transition-duration: 0.2s;
}

#addReview:hover {
  transition-duration: 0.2s;
  box-shadow: 2px 2px 4px green;
  color: green;
}

.submitReview:hover {
  transition-duration: 0.2s;
  box-shadow: 2px 2px 4px green;
  background: green;
  color: green;
}

.moreReviews:hover {
  transition-duration: 0.2s;
  color: teal;
}

html {
  font-family: 'Open Sans', sans-serif, Arial;
  scroll-behavior: smooth;
} */